@charset "UTF-8";

body{
    background-color: #3b3b3b86;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif sans-serif;
    font-size: 20px;
}

#interface{
    width: 980px;
    margin: auto;
    box-shadow: 0px 0px 15px gray;
    background-color: #a1a197;
}

.cabecalho{
    border-bottom: 1px solid #606060;
    padding: 15px;
    text-align: center;
    background-color: #DCDDE7;
}

.navegacao {
    margin-top: 0px;
    border-bottom: 1px solid #606060;
    
}

.menu li{
    position: relative;
    padding-right: 10px;
    display: inline-block;
    
}
ul.menu a {
    padding: 2px;
    text-decoration: none;
}

ul.menu a:hover{
    text-decoration: underline;
    color: white;
    background-color: #0f101080;
}

ul.menu a:active{
    color: yellow;
}

.cabecalho h1{
    font-size: 2em;
}
h2 {
    border: 1px solid red;
    font-size: 17pt;
    background-color: #3b3b3b86;
    margin-left: 10px;
}

p {
    text-align: justify;
    margin-left:10px;
    margin-right: 10px;
    text-indent: 50px;
}

p:hover{
    background-color: #afacac;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px black;
}
.reduzir{
 width: 30%;
}

/* links */
a:visited{
    color: #0F1010;
}

::selection{
    background-color:#35BF5C;
}