body{
    font-size: 16px;
}

h1{
    font-family: sans-serif;
    font-size: 65px;
    color: orange;
}

/* Conteúdo da Lista não ordenada */
li {
    text-align: left;
    line-height: 3em;
}

li#brown{
    background-color:brown
}

li#red{
    background-color: red;
}

li#yellow{
    background-color: yellow;
}

/*Paragrafo*/
p{
    font-weight: 600;
    font-size: 3em;
    text-decoration: overline underline;
    text-decoration-color: greenyellow;
    text-decoration-style: wavy;
    text-decoration-thickness: 3px;
}

/*Paragrafo e Lista não ordenada*/
.styleAlfa{
    background-color: rgba(3, 3, 3, 0.548);
    width: fit-content;
}