* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

header{
  display: flex;
  justify-content:space-around;
  background-color: #323433;
  color: white;
  align-items: center;
  width: 100%;

}

header h3:hover {
  text-decoration: underline;
  cursor: pointer;
  color: greenyellow;
}

.header-img {
  width: 70px;
}

.take {
display: flex;
justify-content: center;
}

.take p {
  font-size: 25px;
}

.cont-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 30%;
  margin: 10px auto 13px;
}
.cont{
  border-radius: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 2px 3px rgba(161, 161, 161, 0.5);
  background-color: rgb(241, 241, 241);
  margin: 0 10px 15px 0;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

hr {
  margin-top: 10px;
  width: 25%;
}